body {
  text-align: center;
  background: black;
  color: white;
  font-family: sans-serif;
}
canvas {
  background: #111;
  display: block;
  margin: 0 auto;
  border: 2px solid white;
}
#controls {
  margin-top: 10px;
}
#controls button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 5px;
}
